<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	>
	
		<!-- 定义调度工作任务 -->
    <bean id="quantzjobBean" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
            <!-- 实现了org.springframework.scheduling.quartz.QuartzJobBean的JobBean -->
            <value>action.TestTimerAction</value>
        </property>
        <!-- 调用业务逻辑 -->
        <!--  
        <property name="jobDataAsMap">
            <map>
                <entry key="biz">
                    <ref bean="users"/>
                </entry>
            </map>
        </property>
        -->
    </bean>
    <bean id="quantzjobBeanA" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
             <value>mail.AutoSendKyz</value>
        </property>
    </bean>
    <bean id="quantzjobBeanB" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
             <value>mail.AutoSendKyzAll</value>
        </property>
    </bean>
    <bean id="quantzjobBeanC" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass">
             <value>quartz.QuartzDelMk</value>
        </property>
    </bean>

    <!-- 触发任务条件 -->
   <!--  <bean id="simpletriggerbean" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="quantzjobBean"></property>
        延迟一分钟启动
       <property name="startDelay">
            <value>60000</value>
        </property>
        每隔2分钟调用一次
        <property name="repeatInterval">
            <value>60000</value>
        </property>
         执行10次
        <property name="repeatCount">
            <value>10</value>
        </property>     
    </bean> -->
   
   <!-- 触发任务条件 -->
    <bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">  
      <property name="jobDetail" ref="quantzjobBean"></property>  
      <property name="cronExpression" value="0 0 14 * * ?"></property>  
    </bean>
    <bean id="CronTriggerBeanA" class="org.springframework.scheduling.quartz.CronTriggerBean">
      <property name="jobDetail" ref="quantzjobBeanA"></property>
      <property name="cronExpression" value="0 0 10 * * ?"></property>      
    </bean>
    <bean id="CronTriggerBeanB" class="org.springframework.scheduling.quartz.CronTriggerBean">
      <property name="jobDetail" ref="quantzjobBeanA"></property>
      <property name="cronExpression" value="0 0 16 * * ?"></property>      
    </bean>  
    <bean id="CronTriggerBeanC" class="org.springframework.scheduling.quartz.CronTriggerBean">
      <property name="jobDetail" ref="quantzjobBeanB"></property>
      <property name="cronExpression" value="0 0 12 * * ?"></property>      
    </bean>
    <bean id="CronTriggerBeanD" class="org.springframework.scheduling.quartz.CronTriggerBean">
      <property name="jobDetail" ref="quantzjobBeanC"></property>
      <property name="cronExpression" value="0 59 23 L * ?"></property>    
    </bean> 
    
    <!-- 启动调度 -->
    <bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="CronTriggerBean"/><!-- 14點 產量資料錶   -->
                <ref bean="CronTriggerBeanA"/><!--(第一次) 10點  下一位簽核人   -->
                <ref bean="CronTriggerBeanB"/><!-- (第二次) 16點  下一位簽核人 -->    
                <ref bean="CronTriggerBeanC"/>  <!--12點  簽核完畢?知會  --> 
                <ref bean="CronTriggerBeanD"/><!-- 每月最後一天24點運行 -->
            </list>
            
        </property>        
    </bean> 
	
	</beans>
