<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	default-autowire="byName">
	<bean id="webUserService" class="services.impl.WebUserServiceImpl" />
	<bean id="menuSer" class="services.impl.WebMenuServicesImpl" />
	<bean id="webLogService" class="services.impl.WebLogServiceImpl" />
	<bean id="jurisdictionService" class="services.impl.WebJurisdictionServiceImpl" autowire="byName" />		
	<bean id="submenuService" class="services.impl.WebSubmenuServiceImpl" autowire="byName" />		
	<bean id="factSer" class="services.impl.KyFactServicesImpl" />
	<bean id="preSer" class="services.impl.WebYielePredictionServicesImpl" />
	<bean id="dataSer" class="services.impl.WebYieldDataServicesImple" />
	<bean id="webFactSer" class="services.impl.WebFactServicesImpl" />
	<bean id="fixSer" class="services.impl.WebFixedServicesImpl" />
	<bean id="costSer" class="services.impl.WebCostServicesImpl" />
	<bean id="mix2Service" class="services.impl.WebMix2ServicesImpl" />
	<bean id="mixPersonService" class="services.impl.WebMixPersonServicesImpl" />
	<bean id="produtedService" class="services.impl.WebProdutedServicesImpl" />
	<bean id="scraptService" class="services.impl.WebScraptServicesImpl" />
	<bean id="wloService" class="services.impl.WebwloServicesImpl" />
	<bean id="mix1Ser" class="services.impl.WebMix1ServicesImpl" />
	<bean id="estProSer" class="services.impl.WebEstProductServicesImpl" />
	<bean id="feedSer" class="services.impl.WebBackFeedServicesImpl" />
	<bean id="personNumSer" class="services.impl.WebPersonnumServicesImpl" />
	<bean id="subSer" class="services.impl.WebSubsortServicesImpl" />
	<bean id="majorSer" class="services.impl.WebMajorSortServicesImpl" />
	<bean id="fixlogSer" class="services.impl.WebFixedLogServicesImpl" />
	<bean id="kyzSer" class="services.impl.KyzExpectmatmServicesImpl" />
	<bean id="emailService" class="services.impl.WebEmailServiceImpl" />
	<bean id="kyzsSer" class="services.impl.KyzExpcetmatmsServicesImpl"/>
	<bean id="visaSer" class="services.impl.KyzVisaFlowServicesImpl"/>
	<bean id="kytypeSer" class="services.impl.KyTypeServicesImpl"/>
	<bean id="visabillSer" class="services.impl.KyVisaBillsServicesImpl"/>
	<bean id="visabillmSer" class="services.impl.KyVisabillmServicesImpl"/>
	<bean id="kyzsecSer" class="services.impl.KyzSecServicesImpl"/>
	<bean id="kyzacctSer" class="services.impl.KyzAcctServicesImpl"/>
	<bean id="kyzpettySer" class="services.impl.KyzPettyServicesImpl"/>
	<bean id="webuploadSer" class="services.impl.WebUploadFileServicesImpl"/>
	<bean id="kyzexpfileSer" class="services.impl.KyzExpectmatmFileServicesImpl"/>
	<bean id="vkpiSer" class="services.impl.VKpifactServicesImpl"/>
	<bean id="vwebmachineser" class="services.impl.VWebmachineServicesImpl"/>
	<bean id="vinvser" class="services.impl.VWebOutoutinvServicesImpl"/>
	<bean id="vmix1ser" class="services.impl.VSumWebmix1ServicesImpl"/>
	<bean id="vpersonser" class="services.impl.VWebpersonServicesImpl"/>
	<bean id="vgwser" class="services.impl.VWebGwServicesImpl"/>
	<bean id="vsideser" class="services.impl.VWebSideServicesImpl"/>
	<bean id="vstoreser" class="services.impl.VWebStoreServicesImpl"/>
	<bean id="vwloser" class="services.impl.VWebwloServicesImpl"/>
	<bean id="vkpieveSer" class="services.impl.VKpifactEveServicesImpl"/>
	
	<bean id="machineeveSer" class="services.impl.VWebmachineEveServicesImpl"/>
	<bean id="inveveSer" class="services.impl.VWeboutputinvEveServicesImpl"/>
	<bean id="personeveSer" class="services.impl.VWebpersonEveServicesImpl"/>
	<bean id="gweveSer" class="services.impl.VWebgwEveServicesImpl"/>
	<bean id="sideeveSer" class="services.impl.VWebsideEveServicesImpl"/>
	<bean id="storeeveSer" class="services.impl.VWebstoreEveServicesImpl"/>
	<bean id="wloeveSer" class="services.impl.VWebwloEveServicesImpl"/>
	<bean id="sumwlodSer" class="services.impl.VSumwloServicesImpl"/>
	<bean id="suminvSer" class="services.impl.VSuminvServicesImpl"/>
	<bean id="sumlossSer" class="services.impl.VSumlossServicesImpl"/>
	<bean id="sumstoreSer" class="services.impl.VSumstoreServicesImpl"/>
	<bean id="kyzmatSer" class="services.impl.KyzMatServicesImpl"/>
	<bean id="kyzscmSer" class="services.impl.KyzScmClassmServicesImpl"/>
	<bean id="subkyzmatSer" class="services.impl.SubKyzmatServicesImpl"/>
	<bean id="sumydateSer" class="services.impl.SumWebYieldDataServicesImpl"/>
	<bean id="kpiSer" class="services.impl.KpifactServicesImpl"/>
	<bean id="kyzletterSer" class="services.impl.KyzContactLetterServicesImpl"/>
	<bean id="sumydatelogSer" class="services.impl.SumWebYieldDataLogServicesImpl"></bean>
	<bean id="cashoutSer" class="services.impl.WebCashoutServicesImpl"></bean>
	<bean id="vcashoutSer" class="services.impl.VWebydataawebcashoutServicesImpl"></bean>
	<bean id="vwebcostSer" class="services.impl.VWebcostServicesImpl"></bean>
	<bean id="vwebcosteveSer" class="services.impl.VWebcostEveServicesImpl"></bean>
	<bean id="webuseremailSer" class="services.impl.WebuserEmailServicesImpl"></bean>
	<bean id="webtypeSer" class="services.impl.WebTypeServicesImpl"></bean>
	<bean id="webuseremailaSer" class="services.impl.WebuserEmailAServicesImpl"></bean>
	<bean id="kyzExpLogSer" class="services.impl.KyzExpectmatmLogServicesImpl"></bean>
	<bean id="tabpomSer" class="services.impl.WebTabpomServicesImpl"></bean>
	<bean id="webbrankSer" class="services.impl.WebBrankServicesImpl"></bean>
	<bean id="webfactorderSer" class="services.impl.WebFactorderServicesImpl"></bean>
	<bean id="webbussletterSer" class="services.impl.WebBussinessletterServicesImpl"></bean>
	<bean id="tabpomfileSer" class="services.impl.WebTabpomfileServicesImpl"></bean>
	<bean id="webphonebookSer" class="services.impl.WebPhonebookServicesImpl"></bean>
	<bean id="weballobjser" class="services.impl.WeballobjServicesImpl"></bean>
	<bean id="vwebbusssorSer" class="services.impl.VWebbussortServicesImpl"></bean>
	<bean id="webydatenoinputSer" class="services.impl.WebydataNoinputServicesImpl"></bean>
	<bean id="vkpinewSer" class="services.impl.VKpifactNewServicesImpl"></bean>
	<bean id="vkpievenewSer" class="services.impl.VKpifactEveNewServicesImpl"></bean>
	<bean id="vwebuselessSer" class="services.impl.VWebuselessServicesImpl"></bean>
	<bean id="webremiSer" class="services.impl.WebremittancelistServicesImpl"></bean>
	<bean id="webremitsSer" class="services.impl.WebremittancelistsServicesImpl"></bean>
</beans>


