
html,body,div{	
	padding:0;
	margin:0;
}

.copyright{
	width:100%;

	font-size:10px;
	color:grey;
	position:relative;
	/* position:fixed; */
	bottom:0px;
	text-align:center;
}
caption{
	color:white
}
.single_h3{color:white}

