/* CSS Document BACKGROUND-COLOR: #cce0f5; */
/* html {
	height: 100%;
}

BODY {
	MARGIN: 0px;
	WIDTH: 100%;
	HEIGHT: 100%;
	overflow: hidden;
}

BODY {
	SCROLLBAR-FACE-COLOR: #F0F1F3;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #efefef;
	SCROLLBAR-DARKSHADOW-COLOR: #b2b2b2;
	SCROLLBAR-BASE-COLOR: #000000;
	BACKGROUND-COLOR: #ffffff
}

* {
	font-size: 12px;
}

A:visited {
	TEXT-DECORATION: none
}

A:active {
	TEXT-DECORATION: none
}

A:link {
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #396095;
	TEXT-DECORATION: none
}

.top {
	width: 100%;
	height: 20px;
	display: block;
	background: white url(../images/menu_info_bg.jpg) repeat;
}

.top .topimg {
	float: left;
	padding-top: 1px;
	padding-left: 3px;
}

.top .toptitle {
	float: left;
	padding-top: 4px;
	padding-left: 3px;
}

#toolbarItem {
	BACKGROUND: url(../images/toolbarbg.gif) repeat;
	border-top: 1px solid #cccccc;
	LEFT: 0px;
	WIDTH: 100%;
	HEIGHT: 33px;
	TEXT-ALIGN: center
}

#toolbar_menu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 30px;
}

#toolbar_menu li {
	DISPLAY: inline;
	FLOAT: left;
	WIDTH: 80px;
	padding-top: 3px;
}

#toolbar_menu li a {
	DISPLAY: block;
	FONT-SIZE: 12px;
	WIDTH: 80px;
	LINE-HEIGHT: 26px;
	FONT-FAMILY: arial, verdana, sans-serif;
	HEIGHT: 26px;
	border: 0px solid #99bbe8;
	TEXT-DECORATION: none;
}

#toolbar_menu li a:visited {
	DISPLAY: block;
	FONT-SIZE: 12px;
	WIDTH: 80px;
	LINE-HEIGHT: 26px;
	FONT-FAMILY: arial, verdana, sans-serif;
	HEIGHT: 26px;
	TEXT-DECORATION: none
}

#toolbar_menu li a:hover {
	BACKGROUND: url(../images/menu.gif);
}

#divContent {
	height: 300px;
	min-height: 200px;
	overflow: auto;
	border-top: 1px solid #cccccc;
}

.content {
	color: #474747;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	float: left;
	position: relative
}

.selContent {
	color: #474747;
	width: 100%;
	height: 100%;
	display: block;
	position: relative
}

.tb_title_bg {
	background-image: url(../images/tg-new.gif);
}

.td_show_title {
	text-align: right;
	padding-right: 5px;
	height: 30px;
	border: 1px #cccccc solid;
	border-top-color: #F0F0F0;
	border-left-color: #F0F0F0;
	BACKGROUND-COLOR: #ebf2f9;
	font-family:"Arial", "Tahoma", "微软雅黑", "雅黑";
    font-size:12px;
	
}

.td_show_title_t {
	text-align: right;
	padding-right: 5px;
	height: 30px;
	border: 1px #cccccc solid;
	border-left-color: #FFFFFF;
	background-color: #F1F2F4;
	border-top: 1px solid #99BBE8;
}

.td_show_title_b {
	text-align: right;
	padding-right: 5px;
	height: 30px;
	border: 1px #cccccc solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #F1F2F4;
	border-bottom: 0px #cccccc solid;
}

.td_show_title_t_b {
	text-align: right;
	padding-right: 5px;
	padding-top: 2px;
	height: 30px;
	border: 1px #cccccc solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #F1F2F4;
	border-bottom: 0px #cccccc solid;
	border-top: 1px solid #99BBE8;
}

.td_show_value_t {
	padding-top: 2px;
	padding-left: 5px;
	border-top: 1px solid #99BBE8;
	border-bottom: 1px solid #ccc;
}

.td_show_value {
	padding-top: 3px;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
}

.td_input_t {
	padding-left: 5px;
	padding-top: 1px;
	border-top: 1px solid #99BBE8;
	border-bottom: 1px solid #ccc;
}

.td_input {
	padding-left: 5px;
	padding-top: 1px;
	border-bottom: 1px solid #ccc;
	
}

select,input[type=text]{	
	border: 2px solid #7A6F6F;
	border: 2px solid #7A6F6F \9; IE
	width: 200px;
	height: 20px; 獶IE蔼
	height: 20px \9; IE蔼
	padding-left: 5px; all
	line-height: 20px \9; IE
	-moz-border-radius: 3px; Firefox
	-webkit-border-radius: 3px; Safari㎝Chrome
	border-radius: 3px; IE9+
	background-color: white;
	outline: none;
	border-color: #B6CDDC;
}
	
}

.td_input_b {
	padding-left: 5px;
	padding-top: 1px;
}

.td_info_t {
	padding: 0 5px 0 5px;
	border-top: 1px solid #99BBE8;
	border-bottom: 1px solid #ccc;
}

.td_info {
	padding: 0 5px 0 5px;
	border-bottom: 1px solid #ccc;
}

.td_info_b {
	padding: 0 5px 0 5px;
}

.td_input_vale {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 23px;
	border: 1px #cccccc solid;
	background-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF
}

.td_input_vale_r {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 23px;
	border: 1px #cccccc solid;
	background-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right: 0px #cccccc solid;
}

.td_input_vale_b {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 23px;
	border: 1px #cccccc solid;
	background-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right: 0px #cccccc solid;
	border-bottom: 0px #cccccc solid;
}

.tr_menu_bg {
	background-image: url(../images/td_bg.gif);
}

.tb_th_1 {
	height: 23px;
	padding-top: 3px;
	padding-left: 4px;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

.tb_th_2 {
	height: 23px;
	padding-top: 3px;
	padding-left: 4px;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

.tb_col_title_bg {
	background-image: url(../images/td-bg2.gif);
}

.tb_col_bg {
	height: 22px;
	padding-top: 2px;
	padding-right: 4px;
	background-image: url(../images/tb-col-bg.gif);
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	text-align: right;
}

.tb_col {
	height: 22px;
	padding-top: 2px;
	padding-left: 4px;
	border-bottom: 1px solid #EDEDED;
}

.list_title {
	color: #15428B;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 2px;
}

.td_over {
	background-image: url(../images/tb-col-bg.gif);
	border-bottom: 1px solid #D0D0D0;
}

.note_title {
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: top;
	height: 23px;
	border-right: 1px #cccccc solid;
	border-top: 1px solid #99bbe8;
	background-color: #F1F2F4;
}

.note_value {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 23px;
	border-top: 1px solid #99bbe8;
}

#list_tool_menu {
	width: 100%;
	display: block;
}

#list_menu {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 26px;
}

#list_menu li {
	DISPLAY: inline;
	FLOAT: left;
	WIDTH: 60px;
	padding-top: 1px;
}

#list_menu li a {
	DISPLAY: block;
	FONT-SIZE: 12px;
	WIDTH: 60px;
	LINE-HEIGHT: 23px;
	HEIGHT: 23px;
	border: 0px solid #99bbe8;
	TEXT-DECORATION: none;
}

#list_menu li a:visited {
	DISPLAY: block;
	FONT-SIZE: 12px;
	WIDTH: 60px;
	LINE-HEIGHT: 23px;
	HEIGHT: 23px;
	TEXT-DECORATION: none
}

#list_menu li a:hover {
	BACKGROUND: url(../images/list_menu.gif);
}

#list_menu li a table {
	height: 100%;
	cursor: pointer;
	border: 0px;
}

.ui-tabs-nav {
	DISPLAY: inline-block
}

.ui-tabs-panel {
	BORDER-TOP: #97a5b0 1px solid;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
}

.ui-tabs-nav {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

.ui-tabs-nav LI {
	FLOAT: left;
	MARGIN: 0px 0px 0px 1px;
	min-width: 84px;
}

.ui-tabs-nav A {
	PADDING-RIGHT: 10px;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	BACKGROUND: url(../images/tab.png) no-repeat;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	FONT-WEIGHT: bold;
	MARGIN: 1px 0px 0px;
	COLOR: #27537a;
	LINE-HEIGHT: 1.3;
	WHITE-SPACE: nowrap;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	outline: 0
}

.ui-tabs-nav A SPAN {
	DISPLAY: block;
	PADDING-LEFT: 10px;
	BACKGROUND: url(../images/tab.png) no-repeat;
	PADDING-BOTTOM: 0px;
	PADDING-RIGHT: 0px;
	MIN-HEIGHT: 18px;
	WIDTH: 64px;
	PADDING-TOP: 6px;
	HEIGHT: 18px;
	min-width: 64px
}

.ui-tabs-nav .ui-tabs-selected A {
	MARGIN-TOP: 0px;
	Z-INDEX: 2;
	COLOR: #000;
	POSITION: relative;
	TOP: 1px;
	BACKGROUND-POSITION: 100% -150px
}

.ui-tabs-nav .ui-tabs-selected A:link {
	CURSOR: text;
}

.ui-tabs-nav .ui-tabs-selected A:visited {
	CURSOR: text
}

.ui-tabs-nav A:hover {
	CURSOR: pointer;
	BACKGROUND-POSITION: 100% -150px
}

.ui-tabs-nav A:unknown {
	CURSOR: pointer;
	BACKGROUND-POSITION: 100% -150px
}

.ui-tabs-nav A:active {
	CURSOR: pointer;
	BACKGROUND-POSITION: 100% -150px
}

.ui-tabs-nav A {
	BACKGROUND-POSITION: 100% -100px
}

.ui-tabs-nav .ui-tabs-selected A SPAN {
	PADDING-BOTTOM: 1px;
	BACKGROUND-POSITION: 0px -50px
}

.ui-tabs-nav A:hover SPAN {
	BACKGROUND-POSITION: 0px -50px
}

.ui-tabs-nav A:unknown SPAN {
	BACKGROUND-POSITION: 0px -50px;
}

.ui-tabs-nav A:active SPAN {
	BACKGROUND-POSITION: 0px -50px
}

.ui-tabs-nav A SPAN {
	BACKGROUND-POSITION: 0px 0px
}

.attach ul {
	FLOAT: left;
	margin: 0;
	WIDTH: 100%;
	list-style: none;
	padding-top: 5px;
	padding-left: 2px;
}

.attach li {
	FONT-SIZE: 12px;
	FLOAT: left;
	list-style: none;
	BACKGROUND-REPEAT: no-repeat;
	padding-right: 5px;
}

.input {
	width: 100%;
	margin: 0px;
}

#mydiv {
	width: 100%;
	height: 100%;
	top: 1px;
	position: absolute;
	background-color:rgb(100,200,300); 
	filter: alpha(opacity=50);
	background-color:rgba(100,200,300,0.5);
	background-color: black;
	opacity: 0.5;
	-moz-opacity:0.5;   
    -khtml-opacity: 0.5; 
	 display: none; 
}


#mydiv p {
	position: relative;
	color:grey;
	font-size: 14px;
	top: 50%;
	text-align:center;
}



==========以下部分是div圓角===========
.sharp{width:100%;float:left;text-align:center}
.sharp .content div{padding-left:15px;text-indent:2em;}
.content{height:auto;}
上圆角框通用设置样式，如果要运用多个不同颜色，以下6句不用重新变化--------------------------------
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
.content {border-right:1px solid;border-left:1px solid;overflow:hidden;}
颜色方案一,蓝色边框----------------------------------------
下面第一、二句决定边框颜色，第三句决定背景颜色
边框色
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .content{border-color:#CCCCCC;}
.color1 .b1,.color1 .b8{background:#CCCCCC;}
背景色
.color1 .b2,.color1 .b3,.color1 .b4,.color1 .b5,.color1 .b6,.color1 .b7,.color1 .content{background:#F8FAFD;} */






/*==========以下部分是Validform必须的===========*/
.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

/* .Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
} */
.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135,
		Color='#999999' );
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited
	{
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}


