



 TD {
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, ����, fantasy
}
th{
	font-size:12px;
	font-weigth:bold;
}



/* 工厂客户订单搜索栏字体大小样式 */
.tr_show {
	CURSOR: hand;
	BACKGROUND-COLOR: #ebf2f9
}
#myTab li,#myTabContent{
	font-size:12px;
	font-size:12px \9
}