/* CSS Document BACKGROUND-COLOR: #cce0f5; */
body,html,#top,#left,#right,#main_container{
	padding:0;
	margin:0;	
}
body,html,#main_container{
	height:100%;
}
#main_container{
	/* border:4px red solid; */
}

#top{
	width:100%;
	/*height:12%;*/
	height:90px;
	border:1px grey solid;
	background:#292929;
	font-size:12px;
	color:#99CCCC;
	overflow:hidden;
	
	
}
#top h1{
	color:white;
}
#top #currentTime{
	color:#99CCCC;
	float:left;
}
#top #lg_info{
	float:right;
}
#top #lg_info a{
	color:#FF6666;
	
}


#left{
	width:18%;
	height:86%;
	border:1px grey solid;	
	overflow:auto;
	/*position:absolute;*/
	float:left;	
}
#left img{
	vertical-align:middle;
	border:0px;
}

#right{
	width:auto;
	height:86%;
	border:1px grey solid;
	overflow:auto;
	/*position:relative;
	left:285px;
	top:0px;*/
	/*position:relative;*/
	
}
#bottom{
	width:100%;
	
	/*border:1px grey solid;*/
	vertical-align:bottom;

	
}
#toolbar{	
	width:20px;
	position:fixed;
	top:52%;
	
}




/*菜單樣式*/
.bigfont{font-size:18px;font-weight:bold;}
.linkbg{background:#F38630}
.smenu_font{font-size:13px}
.mmenu_font{font-size:15px}
a{vertical-align:bottom}
a:link{color:#335AA4;text-decoration:none;}
a:visited{color:#335AA4; text-decoration:none} 
a:hover{text-decoration:none; border-bottom:1px red solid;color:red;}
/*a:active {color: #0000FF} */ 