/* ¤À­¶¼Ë¦¡ */
#center_page{
	position:relative;

}
#divpage{
	position:absolute;
	left:48%;
	width:200px;
	height:40px;
	text-align:left;
	border:1px solid black;
	display:none;
	overflow-y:auto;
	background:yellow;
}
#a_page{
	color:blue;
	
}
ul{ list-style-type:none;padding-left:0px}
li{width:35px;display:block;float:left;text-align:center;}
