

input[type=text],[type=password]{
	border: 2px solid #7A6F6F;
	border: 2px solid #7A6F6F \9; /*IE*/
	width: 190px;
	height: 20px; /*�DIE����*/
	height: 20px \9; /*IE����*/
	padding-left: 5px; /*all*/
	line-height: 20px \9; /*IE*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /*Safari�MChrome*/
	border-radius: 3px; /*IE9+*/
	background-color: white;
	outline: none;
	border-color: #B6CDDC;
}
select{
	border: 2px solid #7A6F6F;
	border: 2px solid #7A6F6F \9; /*IE*/
	width: 190px;
	height: 20px; /*�DIE����*/
	height: 20px \9; /*IE����*/
	padding-left: 5px; /*all*/
	line-height: 20px \9; /*IE*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /*Safari�MChrome*/
	border-radius: 3px; /*IE9+*/
	background-color: white;
	outline: none;
	border-color: #B6CDDC;
}
#tb_search input[type=text],#tb_search select{
	height:30px;
	height: 30px \9;/*IE*/
}
.tb_search input[type=text],.tb_search select{
	height:30px;
	height: 30px \9;/*IE*/
}
#kyzs_body input[type=text]{
	width:100px;
	width:100px \9;
}
#webremits_body input[type=text],#webremits_body2 input[type=text]{
	width:120px;
	width:120px \9;
}


