/* body{background:#CFDFEF;font:12px/150% "Lucida Grande", Arial, Verdana, Helvetica, sans-serif;} */
/* #uboxstyle .select_box {
	width: 250px;
	height: 24px;
}
#uboxstyle_table.select_box{
	width:250px;
	height:24px;
}

#uboxstyle_webfixToexcel.select_box{
	width:250px;
	height:24px;
}

#uboxstyle_min.select_box {
	width: 100px;
	heigth: 24px;
}


#macstyle .select_box {
	width: 91px;
	height: 24px;
}

#tm2008style .select_box {
	width: 102px;
	height: 24px;
}

#uboxstyle div.tag_select {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle div.tag_select_hover {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-24px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle div.tag_select_open {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-48px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle ul.tag_options {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent url("../images/ubox-select.gif") no-repeat right
		bottom;
	width: 250px;
	padding: 0 0 5px;
	margin: 0;
}

#uboxstyle ul.tag_options li {
	background: transparent url("../images/ubox-select.gif") repeat-y 0
		-53px;
	display: block;
	width: 230px;
	padding: 0 10px;
	height: 24px;
	text-decoration: none;
	text-align: left;
	line-height: 24px;
	color: #79A2BD;
}

#uboxstyle ul.tag_options li.open_hover {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-72px;
	color: #fff
}

#uboxstyle ul.tag_options li.open_selected {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-96px;
	color: #fff
}


#uboxstyle_webfixToexcel div.tag_select {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_webfixToexcel div.tag_select_hover {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-24px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_webfixToexcel div.tag_select_open {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-48px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_webfixToexcel ul.tag_options {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent url("../images/ubox-select.gif") no-repeat right
		bottom;
	width: 250px;
	padding: 0 0 5px;
	margin: 0;
}

#uboxstyle_webfixToexcel ul.tag_options li {
	background: transparent url("../images/ubox-select.gif") repeat-y 0
		-53px;
	display: block;
	width: 230px;
	padding: 0 10px;
	height: 24px;
	text-decoration: none;
	text-align: left;
	line-height: 24px;
	color: #79A2BD;
}

#uboxstyle_webfixToexcel ul.tag_options li.open_hover {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-72px;
	color: #fff
}

#uboxstyle_webfixToexcel ul.tag_options li.open_selected {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-96px;
	color: #fff
}



#uboxstyle_table div.tag_select {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_table div.tag_select_hover {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-24px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_table div.tag_select_open {
	display: block;
	color: #79A2BD;
	width: 230px;
	height: 24px;
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-48px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_table ul.tag_options {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent url("../images/ubox-select.gif") no-repeat right
		bottom;
	width: 250px;
	padding: 0 0 5px;
	margin: 0;
}

#uboxstyle_table ul.tag_options li {
	background: transparent url("../images/ubox-select.gif") repeat-y 0
		-53px;
	display: block;
	width: 230px;
	padding: 0 10px;
	height: 24px;
	text-decoration: none;
	text-align: left;
	line-height: 24px;
	color: #79A2BD;
}

#uboxstyle_table ul.tag_options li.open_hover {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-72px;
	color: #fff
}

#uboxstyle_table ul.tag_options li.open_selected {
	background: transparent url("../images/ubox-select.gif") no-repeat 0
		-96px;
	color: #fff
}



#uboxstyle_min div.tag_select {
	display: block;
	color: #79A2BD;
	width: 80px;
	height: 24px;
	background: transparent url("../images/ubox-select-min.gif") no-repeat 0
		0;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_min div.tag_select_hover {
	display: block;
	color: #79A2BD;
	width: 80px;
	height: 24px;
	background: transparent url("../images/ubox-select-min.gif") no-repeat 0
		-24px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_min div.tag_select_open {
	display: block;
	color: #79A2BD;
	width: 80px;
	height: 24px;
	background: transparent url("../images/ubox-select-min.gif") no-repeat 0
		-48px;
	padding: 0 10px;
	line-height: 24px;
	text-align: left
}

#uboxstyle_min ul.tag_options {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent url("../images/ubox-select-min.gif") no-repeat
		right bottom;
	width: 100px;
	padding: 0 0 5px;
	margin: 0;
}

#uboxstyle_min ul.tag_options li {
	background: transparent url("../images/ubox-select-min.gif") repeat-y 0
		-53px;
	display: block;
	width: 80px;
	padding: 0 10px;
	height: 24px;
	text-decoration: none;
	text-align: left;
	line-height: 24px;
	color: #79A2BD;
}

#uboxstyle_min ul.tag_options li.open_hover {
	background: transparent url("../images/ubox-select-min.gif") no-repeat 0
		-72px;
	color: #fff
}

#uboxstyle_min ul.tag_options li.open_selected {
	background: transparent url("../images/ubox-select-min.gif") no-repeat 0
		-96px;
	color: #fff
}

#macstyle div.tag_select {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("images/mac-select.gif") no-repeat 0 -24px;
	padding: 0 10px;
	line-height: 24px;
}

#macstyle div.tag_select_hover {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("images/mac-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 24px;
}

#macstyle div.tag_select_open {
	display: block;
	color: #000;
	width: 71px;
	height: 24px;
	background: transparent url("images/mac-select.gif") no-repeat 0 -48px;
	padding: 0 10px;
	line-height: 24px;
}

#macstyle ul.tag_options {
	position: absolute;
	margin: -4px 0 0;
	list-style: none;
	background: transparent url("images/mac-select.gif") no-repeat left
		bottom;
	width: 100px;
	padding: 0 0 5px;
	margin: 0;
	width: 71px;
}

#macstyle ul.tag_options li {
	background: transparent url("images/mac-select.gif") repeat-y -91px 0;
	display: block;
	width: 61px;
	padding: 0 0 0 10px;
	height: 24px;
	text-decoration: none;
	line-height: 24px;
	color: #000;
}

#macstyle ul.tag_options li.open_hover {
	background: transparent url("images/mac-select.gif") no-repeat -162px 0;
	color: #000
}

#macstyle ul.tag_options li.open_selected {
	background: transparent url("images/mac-select.gif") no-repeat -162px
		-24px;
	color: #fff
}

#tm2008style div.tag_select {
	display: block;
	color: #000;
	width: 82px;
	height: 22px;
	background: transparent url("images/tm2008-select.gif") no-repeat 0 0;
	padding: 0 10px;
	line-height: 22px;
}

#tm2008style div.tag_select_hover {
	display: block;
	color: #000;
	width: 82px;
	height: 22px;
	background: transparent url("images/tm2008-select.gif") no-repeat 0
		-22px;
	padding: 0 10px;
	line-height: 22px;
}

#tm2008style div.tag_select_open {
	display: block;
	color: #000;
	width: 82px;
	height: 22px;
	background: transparent url("images/tm2008-select.gif") no-repeat 0
		-44px;
	padding: 0 10px;
	line-height: 22px;
}

#tm2008style ul.tag_options {
	position: absolute;
	margin: 0;
	list-style: none;
	background: transparent url("images/tm2008-select.gif") no-repeat left
		bottom;
	width: 100px;
	padding: 0 0 1px;
	margin: 0;
	width: 80px;
}

#tm2008style ul.tag_options li {
	background: transparent url("images/tm2008-select.gif") repeat-y -102px
		0;
	display: block;
	width: 61px;
	padding: 0 10px;
	height: 22px;
	text-decoration: none;
	line-height: 22px;
	color: #000;
}

#tm2008style ul.tag_options li.open_hover {
	background: transparent url("images/tm2008-select.gif") no-repeat 0
		-88px;
	color: #000
}

#tm2008style ul.tag_options li.open_selected {
	background: transparent url("images/tm2008-select.gif") no-repeat 0
		-66px;
	color: #19555F
} */

input[type=text] {
	border: 2px solid #7A6F6F;
	border: 2px solid #7A6F6F \9; /*IE*/
	width: 190px;
	height: 20px; /*�DIE����*/
	height: 20px \9; /*IE����*/
	padding-left: 5px; /*all*/
	line-height: 20px \9; /*IE*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /*Safari�MChrome*/
	border-radius: 3px; /*IE9+*/
	background-color: white;
	outline: none;
	border-color: #B6CDDC;
}
select{
	border: 2px solid #7A6F6F;
	border: 2px solid #7A6F6F \9; /*IE*/
	width: 190px;
	height: 20px; /*�DIE����*/
	height: 20px \9; /*IE����*/
	padding-left: 5px; /*all*/
	line-height: 20px \9; /*IE*/
	-moz-border-radius: 3px; /*Firefox*/
	-webkit-border-radius: 3px; /*Safari�MChrome*/
	border-radius: 3px; /*IE9+*/
	background-color: white;
	outline: none;
	border-color: #B6CDDC;
}
#tb_search input[type=text],#tb_search select{
	height:30px;
	height: 30px \9;/*IE*/
}
.tb_search input[type=text],.tb_search select{
	height:30px;
	height: 30px \9;/*IE*/
}


