<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	default-autowire="byName">
	<bean
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations">
             <list>
                 <!-- 所有的应用程序全局变量配置，请集中在这里配置 -->
                 <value>classpath:project_config.properties</value>
             </list>
         </property>
     </bean>
     <bean id="proconfig" class="entity.custom.ProjectConfig">      
       <property name="pName" value="${project.name}"/>
       <property name="pHostLocal" value="${project.host_local}"/>
       <property name="pHostServer" value="${project.host_server}"/>
       <property name="pHostLoaclB" value="${project.host_local_b}"/>
       <property name="pUrl" value="${project.url}"/>
       <property name="pEmail" value="${project.email}"/>
    </bean>	
</beans>


